{% extends "base.html" %}
{% load static %}

{% block header %}
	{% if loggedin %}
		<ul id="nav">
		    <li>
		      <a href="#">Hello, {{thisuser.username}}</a>
			      <ul>
			        <li>
			          <a href="/projects/all/">Your Projects</a>
			        </li>
			        {% if project %}
			        <li>
			          <a href="/projects/get/{{project.id}}/">Current Project</a>
			        </li>
		        {% endif %}
		        <li>
		          <a href="/projects/new_project/">New Project</a>
		        </li>
		        <li>
		          <a href="/lobby/">Lobby</a>
		        </li>
		        <li>
		          <a href="/accounts/profile/">Your Profile</a>
		        </li>
		        <li>
		          <a href="/accounts/logout/">Logout</a>
		        </li>
		      </ul>
		    </li>
		  </ul>
	{% else %}
		<div id="registerlogin">
			<a href="/lobby/">Lobby</a> | <a href="/accounts/register/">Register</a> | <a href="/accounts/login/">Login</a>
		</div>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% if loggedin %}
		<a href="/projects/new_project/">+ New Project</a>
		{% if projects %}
			<p><a href="/projects/all/">Your Projects</a></p>
			<p>Search Projects:</p>
			{% csrf_token %}
			<input type="text" id="search" name="search" />

			<ul id="search-results">

			</ul>
			{% else %}
			<p></p>
		{% endif %}
	{% else %}
		<a href="/accounts/register/">Register</a>
		<p><a href="/accounts/login/">Log In</a></p>
		<p><a href="/lobby/">Lobby</a></p>
	{% endif %}

{% endblock %}

{% block content %}

{% if viewprofile %}
  <table width="100%" bgcolor="#ffffff" cellpadding="5">
    <tr>
      <td colspan="2">
	    <div class="heading20px">{{userlookup.username}}'s Profile</div>
      </td>
      <td width="25%">
        {% if loggedin %}{% if following %}Following <a href="/accounts/profile/{{userlookup.id}}/unfollow/?next={{next}}">(Remove)</a>
        {% else %}<a href="/accounts/profile/{{userlookup.id}}/follow/?next={{next}}">Follow</a>{% endif %}{% endif %}
      </td>
    </tr>
	  {% if viewprofile.visible %}
  	<tr>
   	  <td width="25%" rowspan="2" valign="top">
   		{% if viewprofile.avatar %}
		<img src="{% get_static_prefix %}{{viewprofile.avatar}}" alt="thumbnail" />
		{% endif %}
	  </td>
      <td colspan="2">
        <strong>{{userlookup.first_name}} {{userlookup.last_name}}</strong>
      </td>
 	</tr>
  	<tr>
   	  <td colspan="2">
      	<p>Bio:</p>
      	<p><strong>{{viewprofile.bio}}</strong></p>
      </td>
  	</tr>
  </table>

	{% else %}
	<p>Sorry, this user is private.</p>
	{% endif %}
	{% else %}
	<p>Sorry, this user doesn't exist.</p>
	{% endif %}
    
{% endblock %}