#assetlayout {
	/* Setting a common base */
	margin: 0;
	padding: 0;
}

#assetlayout li {
	display: inline-block;
	width: 20%;
	background: #fff;
	text-align: center;
}

#assetupdate {
	/* Setting a common base */
	margin: 0;
	padding: 0;
}

#assetupdate li {
	display: inline-block;
	width: 20%;
	background: #fff;
	text-align: center;
}

#assetupdateheader {
	text-align: right;
	padding-right: 10px;
}