body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	/* background-image: url('../img/bg-grad.png'); */
	/* background-repeat: repeat-x; */
	margin: 0;
	background-color: #9ec7eb;
}

h1 {
	font-size: 100%
}

.bigfont {
	font-size: 24px;
	font-weight: bold;
}

.heading20px {

	font-size: 20px;
	font-weight: bold;

}

.heading16px {

	font-size: 16px;
	font-weight: bold;

}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #333333;
}

a:active {
	text-decoration: none;
	color: #333333;
}

#page {
	width: 900px;
	text-align: left;
	margin: 10px auto 20px auto;
}

#sidebar {
	float: left;
	width: 175px;
	color: #ffffff;
}

#sidebar a:link, #sidebar a:visited, #sidebar a:hover {
	color: #ffffff;
}

#content {
	float: right;
	width: 700px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.small_font {
	font-size: 7pt;
}

table {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#title {

	font-size: 20px;
	font-weight: bold;

}

.header-shadow{
	background-image:url('../img/menu-shadow.png');
	background-repeat: repeat-x;
}

.header {

	background-color: #448ccb;

}

#registerlogin a:link, #registerlogin a:visited, #registerlogin a:hover {
	color: #ffffff;
}

#registerlogin {
	color: #ffffff;
}

.projecttitle .title { float:left;}
.projecttitle .newproject { float:right;}

input, textarea {
	border: 1px solid #dedede;
	padding: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input:focus, textarea:focus {
	border: 1px solid #000000;
}