<!DOCTYPE html>
<html lang="en">
<head></head>
<body>

<code>
	<ul id="nav">
		<li>
			<a href="/accounts/profile/">Hello, {{user.username}}</a>
			<ul>
				<li>
					<a href="/projects/all">Your Projects</a>
				</li>
				<li>
					<a href="/projects/get/{{accesspermission.project.id}}">Current Project</a>
				</li>
				<li>
					<a href="/projects/new_project">New Project</a>
				</li>
				<li>
					<a href="/accounts/logout">Logout</a></strong>
				</li>
			</ul>
		</li>
	</ul>
</code>

