{% extends "base.html" %}
{% load static %}

{% block content %}

<table width="100%" cellpadding="5" bgcolor="#ffffff">
  <tr><td>
<div class="heading20px" align="center">Welcome to the Film Edit Database!</div>
  <p>Check out this helpful tutorial on how to use the Film Edit Database:</p>
  <iframe src="http://player.vimeo.com/video/72795336" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen>
  </iframe>
  </td></tr>
  <tr>
    <td>
    	<p>The Film Edit Database is a free license and assets management database for documentary filmmakers. The premise is simple: Create a Project for your film, and add each new asset as an Entry. </p>
    	<p>You can add other users to your &quot;collaborators&quot; list, giving them access to your project, and the ability to add, remove and modify entries. From then, any collaborator on your project can update the project using their web browser. </p>
    	<p>Entries can be emailed to each other as links to make working together as easy as possible.</p>
    	<p>Please contact me with feedback, as I am looking to finalize the functionality of the site, and for that I need feedback. If you like something or don't, let me know so I can make this website even better. </p>
    	<p>Thanks for signing up!</p>
    	<p>Jason Boyce</p>
    	<p>JB@JasonBoyce.com</p>
    </td>
  </tr>
</table>

{% endblock %}