{% extends "base.html" %}
{% load static %}

{% block headscript %}
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/project_layout.css" %}">
{% endblock %}

{% block sidebar %}

	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if project %}
		{% if permission %}
			<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
			{% if assets %}
				<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
				<p><a href="/projects/get/{{project.id}}/assets/get/{{lastassetid}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
				<a href="/projects/get/{{project.id}}/assets/get/1/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a></p>
				<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
				<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
				<p>Go To Asset:</p>
				<form onSubmit="return process();">
				# <input type="text" id="assetid" name="assetid" size="5"/> <input type="submit" name="submit" value="Go">
				</form>
				<p>Search Assets:</p>
				{% csrf_token %}
				<input type="text" id="search-assets" name="search-assets" />
				<ul id="search-assets-results">
				</ul>
			{% endif %}
		{% else %}
			<a href="/projects/all/">Your Projects</a>
		{% endif %}
	{% else %}
		<a href="/projects/all/">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if project %}
		{% if permission %}
			<div id="projectupdateheader" style="padding-right: 20ox;" align="right">
				<ul id="projectupdate">
					<li><strong><a href="/projects/get/{{project.id}}/update/">Update Project</a></strong></li>
				</ul>
			</div>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td width="25%">
						{% if project.thumbnail %}
							<img src="{% get_static_prefix %}{{project.thumbnail}}" />
						{% endif %}
					</td>
					<td width="75%" valign="top">
						<div class="heading16px">{{ project.name }}</div>
						<p>{{ project.description }}</p>
						<p>{{project.filmtype}} • {{project.format}} • {{project.framerate}}fps • {{project.region}} • {{project.length}}</p>
						<p><strong><a href="/projects/get/{{ project.id}}/new_asset/">+ Add New Asset</a></strong>{% if assets %} | <strong><a href="/projects/get/{{project.id}}/assets/">All Assets</a></strong>{% endif %}</p>
					</td>
				</tr>
				<tr><td colspan="2">&nbsp;</td></tr>
				<tr>
					<td style="padding-left:50px;" colspan="2">
						Project Team:
					</td>
				</tr>
				<tr>
					<td style="padding-left:75px;" colspan="2">
						<a href="/accounts/profile/{{project.created_by.id}}/">{{project.created_by}}</a><br />
						{% for person in accesslist.access_list.all %}
							{% if forloop.last %}
								<a href="/accounts/profile/{{person.id}}/">{{person.username}}</a>
								{% else %}
								<a href="/accounts/profile/{{person.id}}/">{{person.username}}</a><br />
							{% endif %}
						{% endfor %}
					</td>
				</tr>
				<tr>
					<td style="padding-left:100px;" colspan="2">
						<strong><a href="/projects/get/{{project.id}}/access/">Update Access</a></strong>
					</td>
				</tr>
			</table>
		{% else %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr><td>You do not have access to this project.</td></tr>
			</table>
		{% endif %}
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}