{% extends "base.html" %}
{% load static %}

{% block headscript %}

	<script src="{% static "assets/js/jquery.timepicker.js" %}"></script>
	<script>
		  $(function() {
		    $( "#date_produced" ).datepicker();
		  });
	</script>
	<script type="text/javascript">

		  function validateForm()
		  {
		    // regular expression to match required date format
		    re = /^\d{1,2}\/\d{1,2}\/\d{4}$/;

		    if(form.date_produced.value != '' && !form.date_produced.value.match(re)) {
		      alert("Invalid date format: " + form.date_produced.value);
		      form.date_produced.focus();
		      return false;
		    }
		  }
	</script>
	<link rel="stylesheet" type="text/css" href="{% static "assets/css/new_asset_layout.css" %}">
	<script src="{% static "assets/js/new_asset_layout.js" %}"></script>

{% endblock %}

{% block sidebar %}

	<script>
		function process()
		{
		var url="/projects/get/{{project.id}}/assets/get/" + document.getElementById("assetid").value;
		location.href=url;
		return false;
		}
	</script>
	<script>
		$(function(){

			$('#search-assets').keyup(function() {

				$.ajax({
					type: "POST",
					url: "/projects/get/{{project.id}}/assets/search/",
					data: {
						'search_text' : $('#search-assets').val(),
						'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
					},
					success: searchSuccess,
					dataType: 'html'
				});
			});
		});

		function searchSuccess(data, textStatus, jqXHR)
		{
			$('#search-assets-results').html(data);
		}
	</script>

	{% if permission %}
		<a href="/projects/get/{{project.id}}/new_asset/">+ Add New Asset</a>
		<p><a href="/projects/get/{{project.id}}/assets/">All Assets</a></p>
		<p>
			<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/"><img src="{% static "assets/img/arrow_left.png" %}" width="40"></a>
			{% if next_asset %}
				<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id|add:"1"}}/"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
			{% else %}
				<a href="/projects/get/{{project.id}}"><img src="{% static "assets/img/arrow_right.png" %}" width="40"></a>
			{% endif %}
		</p>
		<p><a href="/projects/get/{{project.id}}/sort/">Sort Assets</a></p>
		<p><a href="/projects/get/{{project.id}}/export/">Export Assets</a></p>
		<p>Go To Asset:</h4></p>
		<form onSubmit="return process();">
		# <input type="text" id="assetid" name="assetid" size="5"/> <input type="submit" name="submit" value="Go">
		</form>
		<p>Search Assets:</p>
		{% csrf_token %}
		<input type="text" id="search-assets" name="search-assets" />
		<ul id="search-assets-results">
		</ul>
	{% else %}
		<a href="/projects/all">Your Projects</a>
	{% endif %}

{% endblock %}

{% block content %}

	{% if asset %}
		{% if permission %}
		<form name="form" action="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/update/" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
		{% csrf_token %}

		<table width="100%" cellpadding="4" bgcolor="#ffffff">
			<tr>
				<td colspan="2">
					<div class="heading20px">Update Asset</div>
				</td>
				<td align="right" style="padding-right:50px;">
					<!-- <a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/delete/">Delete</a> -->
				</td>
			</tr>
			<tr>
				<td rowspan="7" valign="top">{% if asset.thumbnail %}<img src="{% get_static_prefix %}{{asset.thumbnail}}" alt="thumbnail" />{% else %}<img src="{% static "assets/img/thumbnail.jpg" %}">{% endif %}
					<br />
					<br />
					<div align="center">{{form.thumbnail}}</div>
				</td>
				<td width="25%"><div align="right"></div></td>
				<td width="55%">
					ID #: {{asset.unique_id}}
					<select id="asset_type" name="asset_type">
						<option {% if not asset.asset_type %}selected="selected"{% endif %} value="">
							Choose Asset Type:
						</option>
						<option {% if asset.asset_type == "F - Video Found" %}selected="selected"{% endif %} value="F - Video Found">
							F - Video Found
						</option>
						<option {% if asset.asset_type == "V - Archival and Source" %}selected="selected"{% endif %} value="V - Archival and Sourced">
							V - Archival and Sourced
						</option>
						<option {% if asset.asset_type == "P - Still or Photograph" %}selected="selected"{% endif %} value="P - Still or Photograph">
							P - Still or Photograph
						</option>
						<option {% if asset.asset_type == "M - Music" %}selected="selected"{% endif %} value="M - Music">
							M - Music
						</option>
						<option {% if asset.asset_type == "N - Newsreel" %}selected="selected"{% endif %} value="N - Newsreel">
							N - Newsreel
						</option>
						<option {% if asset.asset_type == "T - Television" %}selected="selected"{% endif %} value="T - Television">
							T - Television
						</option>
						<option {% if asset.asset_type == "A - Art" %}selected="selected"{% endif %} value="A - Art">
							A - Art
						</option>
						<option {% if asset.asset_type == "D - Document" %}selected="selected"{% endif %} value="D - Document">
							D - Document
						</option>
						<option {% if asset.asset_type == "G - Graphics" %}selected="selected"{% endif %} value="G - Graphics">
							G - Graphics
						</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;" valign="top">Description:</td>
				<td>{{form.description}}</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;">Used in Film:</td>
				<td>{{form.used_in_film}}</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;"><label for="master_status">Master Status:</label></td>
				<td> 
					<select id="master_status" name="master_status">
						<option {% if not asset.master_status %}selected="selected"{% endif %} value="">--</option>
						<option {% if asset.master_status == "Needed" %}selected="selected"{% endif %} value="Needed">Master Needed</option>
						<option {% if asset.master_status == "In House" %}selected="selected"{% endif %} value="In House">Master In House</option>
						<option {% if asset.master_status == "Returned" %}selected="selected"{% endif %} value="Returned">Master Returned</option>
					</select>
				</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;"><label for="date_produced">Date:</label></td>
				<td><input type="text" id="date_produced" name="date_produced" value="{% if asset.date_produced  == "None" %}{% else %}{{asset.date_produced|date:'m/d/Y'}}{% endif %}"/></td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;"><label for="location">Location:</label></td>
				<td>{{form.location}}</td>
			</tr>
			<tr>
				<td align="right" style="padding-right:5px;"><label for="file_location">File Path:</label></td>
				<td>{{form.file_location}}</td>
			</tr>
		</table>

		<br>
		<div id="assetnavigation" align="center">
			<ul id="newassetlayout">
				<li><strong><a href="#" onclick="revealFootage();">Footage</a></strong></li>
				<li><strong><a href="#" onclick="revealStills();">Stills</a></strong></li>
				<li><strong><a href="#" onclick="revealMusic();">Music</a></strong></li>
			</ul>
		</div>
		<div id="footage" {% if asset.stills %}style="display: none"{% elif asset.music %}style="display: none"{% endif %}>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="4">
						<div class="heading16px">Footage:</div>		
					</td>
				</tr>
				<tr>
					<td width="17%">
						<label for="footage_format">Master Format:</label>
					</td>
					<td colspan="3">{{form.footage_format}}</td>
				</tr>
				<tr>
					<td>
						<label for="footage_region">Region: </label>
					</td>
					<td width="20%">
						<select id="footage_region" name="footage_region">
							<option {% if not asset.footage_region %}selected="selected"{% endif %} value="">--</option>
							<option {% if asset.footage_region == "NTSC" %}selected="selected"{% endif %} value="NTSC">NTSC</option>
							<option {% if asset.footage_region == "PAL" %}selected="selected"{% endif %} value="PAL">PAL</option>
						</select>
					</td>
					<td width="25%">
						<label for="footage_type">Type: </label>
						<select id="footage_type" name="footage_type">
							<option {% if not asset.footage_type %}selected="selected"{% endif %} value="">--</option>
							<option {% if asset.footage_type == "SD" %}selected="selected"{% endif %} value="SD">SD</option>
							<option {% if asset.footage_type == "HD" %}selected="selected"{% endif %} value="HD">HD</option>
						</select> 
					</td>
					<td>
						<label for="footage_fps">FPS: </label>
						<select id="footage_fps" name="footage_fps">
							<option {% if not asset.footage_fps %}selected="selected"{% endif %} value="">--</option>
							<option {% if asset.footage_fps == "18" %}selected="selected"{% endif %} value="18">18</option>
							<option {% if asset.footage_fps == "24" %}selected="selected"{% endif %} value="24">24</option>
							<option {% if asset.footage_fps == "25" %}selected="selected"{% endif %} value="25">25</option>
							<option {% if asset.footage_fps == "30" %}selected="selected"{% endif %} value="30">30</option>
							<option {% if asset.footage_fps == "50" %}selected="selected"{% endif %} value="50">50</option>
							<option {% if asset.footage_fps == "60" %}selected="selected"{% endif %} value="60">60</option>
						</select>
					</td>
				</tr>
				<tr>
					<td><label for="footage_url">Film URL: </label></td>
					<td colspan="3">{{form.footage_url}}</td>
				</tr>
				<tr>
					<td colspan="4">
						{{form.footage_blackandwhite}} <label for="footage_blackandwhite">Black &amp; White </label>
						{{form.footage_color}} <label for="footage_color">Color </label> 
						{{form.footage_sepia}} <label for="footage_sepia">Sepia </label>
					</td>
				</tr>
			</table>
			<br />
		</div>

		<div id="stills" {% if asset.footage %}style="display: none"{% elif asset.music %}style="display: none"{% endif %}>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="2">
						<div class="heading16px">Stills:</div>
					</td>
				</tr>
				<tr>
					<td width="15%">
						<label for="stills_credit">Photo Credit:</label>
					</td>
					<td>{{form.stills_credit}}</td>
				</tr>
				<tr>
					<td>
						<label for="stills_url">Photo URL:</label></td>
					<td>{{form.stills_url}}</td>
				</tr>
				<tr>
					<td colspan="2">
						{{form.stills_blackandwhite}} <label for="stills_blackandwhite">Black &amp; White </label>
						{{form.stills_color}} <label for="stills_color">Color </label> 
						{{form.stills_sepia}} <label for="stills_sepia">Sepia </label>
					</td>
				</tr>
			</table>
			<br />
		</div>

		<div id="music"  {% if asset.footage %}style="display: none"{% elif asset.stills %}style="display: none"{% endif %}>
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr>
					<td colspan="2">
						<div class="heading16px">Music:</div>
					</td>
				</tr>
				<tr>
					<td width="15%">
						<label for="music_format">Format: </label>
					</td>
					<td>
						<select id="music_format" name="music_format">
							<option {% if not asset.music_format %}selected="selected"{% endif %}value="">--</option>
							<option {% if asset.music_format == "WAV" %}selected="selected"{% endif %} value="WAV">WAV</option>
							<option {% if asset.music_format == "AIFF" %}selected="selected"{% endif %} value="AIFF">AIFF</option>
							<option {% if asset.music_format == "M4A" %}selected="selected"{% endif %} value="M4A">M4A</option>
							<option {% if asset.music_format == "MP3" %}selected="selected"{% endif %} value="MP3">MP3</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="music_credit">Artist Credit:</label>
					</td>
					<td>{{form.music_credit}}</td>
				</tr>
				<tr>
					<td>
						<label for="music_url">Song URL:</label>
					</td>
					<td>{{form.music_url}}</td>
				</tr>
			</table>
			<br>
		</div>

		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr>
				<td width="33%">
					<label for="cost">COST:</label> ${{form.cost}} 
				</td>
				<td width="33%">
					Per: <select id="cost_model" name="cost_model">
						<option {% if not asset.cost_model %}selected="selected"{% endif %} value="">Cost Model:</option>
						<option {% if asset.cost_model == "Use" %}selected="selected"{% endif %} value="Use">Cost Per Use</option>
						<option {% if asset.cost_model == "Second" %}selected="selected"{% endif %} value="Second">Cost Per Second</option>
						<option {% if asset.cost_model == "Minute" %}selected="selected"{% endif %} value="Minute">Cost Per Minute</option>
					</select>
				</td>
				<td width="33%">
					<label for="total_cost">TOTAL:</label> {{form.total_cost}}	
				</td>
			</tr>
		</table>

		<br />
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr>
				<td colspan="4">
					<div class="heading16px">Licensing:</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					{{form.license_obtained}} <label for="license_obtained">License</label>
				</td>
				<td>
					<label for="license_type">Type:</label>
				</td>
				<td>{{form.license_type}}</td>
			</tr>
			<tr>
				<td width="17%">
					<label for="source">Source:</label>
				</td>
				<td>{{form.source}}</td>
				<td>
					<label for="source_id">Reference ID:</label>
				</td>
				<td>{{form.source_id}}</td>
			</tr>
			<tr>
				<td>
					<label for="source_contact">Contact:</label>
				</td>
				<td>{{form.source_contact}}</td>
				<td width="14%">
		    		<label for="source_email">Email: </label>
		    	</td>
		    	<td>{{form.source_email}}</td>
			</tr>
			<tr>
				<td>
					<label for="source_phone">Phone:</label>
				</td>
				<td>{{form.source_phone}}</td>
				<td>
					<label for="source_fax">Fax:</label>
				</td>
				<td>{{form.source_fax}}</td>
			</tr>
			<tr>
				<td>
					<label for="source_address">Address:</label>
				</td>
				<td colspan="3">{{form.source_address}}</td>
			</tr>
			<tr>
				<td><label for="credit_language">Credit Language:</label></td>
				<td colspan="3">
					{{form.credit_language}}
				</td>
			</tr>
		</table>

		<br>
		<div align="center">
			<h2>Notes:</h2>
			<p>{{form.notes}}</p>
		</div>

		<br>
		<br>
		<table width="100%" cellpadding="5">
			<tr>
				<td width="33%" style="padding-left:50px;">
					<a href="/projects/get/{{project.id}}/assets/get/{{asset.unique_id}}/">Cancel</a>
				</td>
				<td width="33%">
					&nbsp;
				</td>
				<td width="33%" align="right" style="padding-right:50px;">
					<input type="submit" name="Save" id="Save" value="Update Asset" />
				</td>
			</tr>
		</table>

		</form>
		{% else %}
			<table width="100%" cellpadding="5" bgcolor="#ffffff">
				<tr><td>You do not have access to this project.</td></tr>
			</table>
		{% endif %}
	{% else %}
		<table width="100%" cellpadding="5" bgcolor="#ffffff">
			<tr><td>You do not have access to this project.</td></tr>
		</table>
	{% endif %}

{% endblock %}